.projects {
  padding: 80px 20px;
  background-color: #020617;
  text-align: center;
}

.projects h2 {
  font-size: 2.2rem;
  margin-bottom: 50px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1000px;
  margin: auto;
}

.project-card {
  background: #0f172a;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid #1e293b;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card h3 {
  color: #38bdf8;
  margin-bottom: 10px;
}

.project-card p {
  color: #cbd5f5;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(56,189,248,0.2);
}

.projects a {
  text-decoration: none;
}
