/* =========================
   PROJECTS
========================= */
.projects {
  padding: 80px 10%;
  background-color: transparent;
  text-align: center;
}

.projects h2 {
  font-size: 2.4rem;
  margin-bottom: 40px;
  font-weight: 600;
}

/* GRID */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 10px; /* separación exacta de 10px */
  max-width: 1100px;
  margin: auto;
}

/* CARD */
.project-card {
  background: var(--bg-card);
  padding: 28px;
  border-radius: var(--radius);
  border: 1px solid #1e293b;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
}

.project-card h3 {
  color: #38bdf8;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.project-card p {
  color: var(--text-muted);
  font-size: 0.95rem;
  line-height: 1.6;
}

/* HOVER */
.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 35px rgba(56, 189, 248, 0.25);
}

/* LINKS */
.projects a {
  text-decoration: none;
  color: inherit;
}
